body{
	height: 100%;
	background: linear-gradient(90deg, green 50%, crimson 50%);
}
table{
	border-spacing: 5px;
}
table, th, td{
	text-align:center;
	border: 1px solid black;
}
th, td {
	padding: 15px;
}
h1{
	text-align: center;
}

.tabuleiro {
	text-align: center;
}
.rcorners1 {
	border-radius: 25px;
	background: rgb(255,255,255,0.7);
	width: 150px;
	height: 150px;
	text-align: center;
	font-size: 70px;
}
.rcornersaux {
	border-radius: 25px;
	background: rgb(255,255,255,1.0);
	width: 150px;
	height: 150px;
	text-align: center;
	font-size: 70px;
}
.d001{
	background: rgb(255,255,255,0.5);
	color: black;
	font-family:courier;
}
.d002{
	background: rgb(255,255,255,0.3);
	padding: 10px;
}
.img001 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
.img002 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  width: 160px;
  height: 190px;
}
.bottom{
	bottom: 0;
}

#status {
	text-align: center;
	font-family: courier;
	font-size: 30px;
}
.pNormal{
	text-align: center;
	font-family: courier;
	font-size: 30px;
}
#colMario, #colLuigi{
	border-radius: 25px;
}
#but1, #but2{
	display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-family: courier;
}
#resetpont{
	border:none;
	background-color: yellow;
	border-radius: 25px;
}
.botao{
	background-color: rgb(255,255,0,0.8);
	font-family: courier;
	border-radius: 15px;
	font-size: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.botaoB{
	background-color: rgb(255,255,255,0.5);
	font-family: courier;
	border-radius: 15px;
	font-size: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}